body{
    font-family: Arial, Helvetica, sans-serif;
}

.co-card{
    padding : 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 2px 2px rgb(216, 216, 216);
}

.qty{
    display :flex;
    align-items: center;
}

.btn-area{
    display :flex;
    justify-content : end;
}

.btn{
    margin-top : 2rem;
    background-color: rgb(102, 4, 102);
    padding : .5rem 3rem;
}