body{
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background-size: contain;
    background-repeat: no-repeat;
}

.top_content{
    background-image: url("../images/bg1.png");
    background-size: cover;
}

.btn{
    font-weight : bold;
    box-shadow: 0 0 1px 1px rgb(207, 207, 207);
    border: none;
    padding : .5rem 1rem;
    background-color: rgb(110, 6, 110);
    color : white;
    border-radius : 1rem;
}

.txt-putih{
    color :rgb(77, 11, 83);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}


.navbar{
    margin:0;
    padding:1vw;
    display:flex;
    justify-items: center;
    padding-bottom : 1.5vh;
    box-shadow: 0px 1px 10px #0f0c0c57;
}

.sidebar{
    background-color: white;
    box-shadow: 0 0 10px 10px rgba(131, 131, 131, 0.253);
    width: 2rem;
    margin:2rem .5rem 2rem 1rem;
    padding: 1rem;
    border-radius: 1rem;
    transition: 1s;
}


.sidebar.hide{
    margin-left: -4rem;
    transition:  1s;
}

.sidebar-item{
    position: rela;
}


.btn-sidebar{
    background-color: rgba(0, 0, 0, 0.253);
    width: 1rem;
    padding : .5rem;
    border-radius: 1.5rem;
}

.pdl-2{
    padding-left:  2vw;
}

.pdt-2{
    padding-top:  2vw;
}

.pdt-1{
    padding-top:  1vw;
}

.navbar-kiri{
    top: 0;
    right: 2vw;
    width: 100%;
    align-content: center;
    justify-content: end;
    display: flex;
    padding: 1rem;
}

.navbar-item{
    margin: 0 1vw;
}

footer{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(53, 11, 92);
    color :white;
    padding : 3vh  5vw 15vh 5vw;
}
