.whistlist{
    display: flex;
    flex-wrap: wrap;
    padding : 0 1rem 1rem 0;
    font-family: Arial, Helvetica, sans-serif;
}

.listView{
    position: relative;
    width: 12rem;
    display: flexbox;
    justify-items: center;
    align-items :center;
    margin : 1rem;
    padding : 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 2px 2px rgb(207, 207, 207);
}
.listView div{
   margin : 0 .5rem;
}

.fav-icon{
    border-radius: 1.5rem;
    padding: .5rem;
    width:1.5rem; 
    position:absolute; 
    top:.5rem; 
    right:.5rem;
    background-color: rgba(0, 0, 0, 0.103);
}

.product-info{
    display : flexbox;
}